<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <div th:replace="fragments/head"></div>
</head>

<body>
    <div id="app">
        <div th:replace="fragments/menu"></div>

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-content">
                <div th:replace="fragments/dashboard_fragment"></div>

            </div>
        </div>
    </div>

    <div th:replace="fragments/scripts"></div>

</body>

</html>