<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <div th:replace="fragments/head"></div>
</head>

<body>
    <div id="app">
        <div th:replace="fragments/menu"></div>
        <div th:replace="fragments/dashboard_fragment"></div>
    </div>

    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>