<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Mazer Admin Dashboard</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

  <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>


<div class="row">
  <div class="col-sm"></div>

  <div class="col-sm">

      <div class="card">
        <div class="card-header">
          <h4 class="card-title">ADICIONAR USUÁRIO</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form form-vertical" th:action="@{/usuarios/add}" th:object="${usuarioEntity}" method="post">
              <div class="form-body">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group has-icon-left">
                      <label for="first-name-icon">Nome</label>
                      <div class="position-relative">
                        <input class="form-control" id="first-name-icon"
                               placeholder="Nome completo" type="text"  th:field="*{nome}">
                        <div class="form-control-icon">
                          <i class="bi bi-person"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">

                    <div class="form-group has-icon-left">
                      <label for="email-id-icon">Email</label>
                      <div class="position-relative">
                        <input class="form-control" id="email-id-icon" placeholder="Email"
                               type="text"  th:field="*{email}">
                        <div class="form-control-icon">
                          <i class="bi bi-envelope"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group has-icon-left">
                      <label for="mobile-id-icon">Idade</label>
                      <div class="position-relative">
                        <input class="form-control" id="mobile-id-icon" placeholder="Mobile"
                               type="number" th:field="*{idade}">
                        <div class="form-control-icon">
                          <i class="bi bi-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-primary me-1 mb-1" type="submit">Salvar</button>
                    <button class="btn btn-light-secondary me-1 mb-1"
                            type="reset">Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>



  </div>

  <div class="col-sm"></div>


</div>



<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script src="/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="/assets/js/pages/dashboard.js"></script>

<script src="/assets/js/main.js"></script></body>
</html>