<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Usuarios</title>
</head>
<body>


<div class="row">
  <div class="col-sm"></div>

  <div class="col-sm">
    <h1>ADICIONAR USUÁRIO</h1>

    <form th:action="@{/usuarios/add}" th:object="${usuarioEntity}" method="post">
      <div class="mb-3">
        <label for="exampleInputNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputNome" th:field="*{nome}">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" th:field="*{email}">
        <div class="text-danger text-center" th:text="${erroEmail}"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputIdade" class="form-label">Idade</label>
        <input type="number" class="form-control" id="exampleInputIdade" th:field="*{idade}">
      </div>
      <div class="row">

        <div class="col-sm">
          <a href="/usuarios/" class="btn btn-warning" style="width:100%">Cancelar</a>

        </div>
        <div class="col-sm">
          <button type="submit" class="btn btn-primary" style="width:100%">Salvar</button>

        </div>

      </div>
    </form>


  </div>

  <div class="col-sm"></div>


</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>